<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <p directive>data</p>
        
       <!--- replace in place of directive

        v-if="player.team=='MI'" v-for="player in players", {{player.name}}

        v-for="player in players" v-if="player.team=='MI'", {{players.name}}

        v-for="player in players" v-if="player.team=='MI'", {{player.name}}

        v-if="player.team=='MI'" v-for="player in players", {{players.name}} 
        
        --->
    
    </div>
    <script src="app.js"></script>

</body>
</html>